{% extends "layout.html" %}
{% block title %}데레마스 친구코드 관리{% endblock %}
{% block content %}
  <h1> 데레마스 친구코드 관리 </h1>
  {% if isLogin != False %}
  <div style="width:450px;margin:0 auto;">
    <h2><img class="img-circle" alt="Profile Image" title="{{ user.email }}" src="http://www.gravatar.com/avatar/{{ user.email_hash }}"> &nbsp; <span class="copy_friend_code" style="cursor:pointer;" data-clipboard-text="{{ user.friend_code }}">{{ user.friend_code }}</span> <a href="/logout">로그아웃</a></h2>
  </div>
  <div>
    여기에 그룹 목록이 나타납니다.
  </div>


  {% else %}
  <h2>환영합니다.</h2>
    <form id="login">
      <input type="text" name="user_input" class="loginF form-control" placeholder="친구코드/이메일 입력" autofocus>
      <button class="form-control btn-info">Sign UP / IN</button>
    </form>
    {% endif %}

    <script>
    function login() {
      alert('jQuery call');
    }
    $('#login').submit(function(e) {
      e.preventDefault();
      var values = $(this).serialize();
      $.ajax({
        url : '/api/v1.1/checkValidValue',
        type: 'POST',
        data: values,
        success: function(data, status, xhr) {
          if(data.isValid) {
            if(data.type == 'friend_code' || data.type == 'email') {
              var vv = $('.loginF').val();
              // /api/v1.1/checkJoin -> 가입 여부 조회
              $.ajax({
                url : '/api/v1.1/checkJoin',
                type: 'POST',
                data: data,
                success: function(data2, status2, xhr2) {
                  if(data2.isJoin) {

                  //로그인의 경우(가입 되어 있음)
                  //setTimeout("location.href='/login?type="+data.type+"&fill=" +vv+ "'", 0);
                  setTimeout("location.href='/login?type=friend_code&fill=" +data2.friend_code+ "'", 0);
                  //걍 컨버팅해서 보내줌
                  } else {
                    alert('가입 페이지로');
                  }
                },
                error: function(xhr2, status2, err2) {
                  alert('서버가 불안정합니다.');
                }
              });
            } else {
              alert('[-3] 정의되지 않은 에러');
            }
          } else {
            alert('올바르지 않은 정보입니다.');
          }
        },
        error: function(xhr, status, err) {
          alert('서버가 불안정합니다.');
        }
      });
});
      var clipboard = new Clipboard('.copy_friend_code');
      clipboard.on('success', function(e) {
        $('.copy_friend_code').append('<span style="color:#ffc299;font-size:0.5em;">Copied!</span>');
        e.clearSelection();
});
    </script>
{% endblock %}
