{% extends "layout.html" %}
{% block title %}로그인 - 데레마스 친구코드 관리{% endblock %}
{% block content %}

    <div class="container">
      <h2>로그인이 필요합니다.</h2>
      <p> for {{ redirect_url }}</p>
      <form method="post">
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
        <input type="number" name="friend_code" class="form-control" placeholder="친구코드" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autofocus>
        <input type="password" name="password_plain" class="form-control" placeholder="비밀번호">
        <input type="submit" value="로그인" class="form-control">
      </form>
    </div>
{% endblock %}
